.content-box {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box,
.register-box {
    width: 50%;
    padding: 30px;
    background-color: lightgray;
}

.login-box h2,
.register-box h2 {
    font-size: 15px;
}

.username-box,
.password-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-box {
    flex-grow: 1;
}

.login-box h1,
.register-box h1 {
    font-family: Arial;
    font-size: 25px;
}