.content-box {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box,
.register-box {
    width: 30%;
    padding: 30px;
    background-color: lightgray;
}

.login-box h2,
.register-box h2 {
    font-size: 15px;
}

.username-box,
.password-box {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid grey;
}

.username-box div:first-child,
.password-box div:first-child {
    width: 80px;
    text-align: center;
    padding: 10px;
}

.input-box {
    flex-grow: 1;
    padding: 10px;
    background-color: white;
}

.login-box h1,
.register-box h1 {
    font-family: Arial;
    font-size: 25px;
}

.submit-btn {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

input{
    border: none;
    height: 100%;
}